/?.*
/.vscode/

/index.js

# dependencies (bun install)
/node_modules

# output
/dist

# code coverage
coverage
*.lcov

# logs
logs
_.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# Misc
.idea
.DS_Store
